@import "tailwindcss";

img {
    max-height: 100%;
}
input, textarea, select {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}
input:focus, textarea:focus, select:focus {
    @apply border-blue-900;
}
h1 {
    @apply font-bold text-blue-900 mb-2 text-xl;
}
label {
    @apply font-semibold text-blue-900;
}
.btn-primary {
    @apply bg-green-700 text-white rounded-md py-2 px-4;
}
table.basic {
    @apply w-full;
}
table.basic thead tr td{
    @apply bg-blue-100;
}
table.basic tr td{
    @apply border border-blue-700 p-1;
}
table.basic a{
    @apply bg-blue-900 text-white text-sm py-1 px-2 rounded-md inline-flex gap-1 mr-1;
}
.btn-red, .btn-default{
    @apply px-4 py-1 rounded-md inline-block mt-2;
}
.btn-red{
    @apply bg-red-800 text-white;
}
.btn-default{
    @apply bg-gray-600 text-white;
}