@import "tailwindcss";

input, textarea {
    @apply border-2 border-gray-300 rounded-md px-1 w-full;
    @apply mb-2;
}
input:focus, textarea:focus {
    @apply border-blue-900;
}
h1 {
    @apply font-bold text-blue-900 mb-2 text-xl;
}
label {
    @apply font-semibold text-blue-900;
}
.btn-primary {
    @apply bg-green-700 text-white rounded-md py-2 px-4;
}